.data{
    width: 12%;
    float: left;
    color: white;
    border-bottom: solid orange 1px;
}

#datas{
    width: 30%;
    margin: 2% 35%;
}

#datas input[type='text']{
    width: 100%;
}

#datas input[type = 'submit']{
    width: 50%;
    float: left;
    border: 0%;
    text-align: center;
    padding: 1%;
    font-style: none;
    text-decoration: none;
    color: white;
    background-color: #224013;
    box-sizing: border-box;
}

#datas input[type = 'submit']:hover{
    cursor: pointer;
    background-color: #437F27;
}

.di{
    width: 8%;
    float: left;
    color: white;
    border-bottom: solid orange 1px;
}

.soli{
    width: 17%;
    color: white;
    float: left;
    border-bottom: solid orange 1px;
}