.busqueda{
    width: 60%;
    margin:2% 20%;
    box-sizing: border-box;
    background-color: #6771FF;
}

.busqueda a{
    display: block;
    width: 20%;
    text-align: center;
    padding: 1%;
    font-style: none;
    text-decoration: none;
    color: white;
    background-color: #224013;
    box-sizing: border-box;
}

.busqueda input[type = 'submit']{
    display: inline-block;
    width: 20%;
    border: 0%;
    text-align: center;
    padding: 1%;
    font-style: none;
    text-decoration: none;
    color: white;
    background-color: #224013;
    box-sizing: border-box;
}

.busqueda input[type = 'submit']:hover{
    cursor: pointer;
    background-color: #437F27;
}

.busqueda a:hover{
    background-color: #437F27;
}

.subdivpres1 label{
    width: 16%;
    float: left;
    color: white;
    font-size: 120%;
    border-bottom: solid orange 1px;
}